@import '../../_media';

.Classic {
	h2 {
		font-size: 28px;
	}
	h2,
	h3 {
		text-align: center;
	}
	font-size: 18px;
	line-height: 150%;
	padding: 10px 40px;
	ul {
		padding-right: 155px;
		> li {
			padding-bottom: 25px;
		}
	}
	> img {
		width: 400px;
	}
}
@include media(tablet) {
	.Classic {
		ul {
			padding-right: 0;
		}
	}
}
