@import '../../app/media';
.Seances {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 24px;
	grid-row-gap: 34px;

	div {
		:hover {
			cursor: pointer;
		}
		img:hover {
			transition: scale-105;
			cursor: pointer;
			box-shadow: 17px 15px 30px 0px rgba(0, 0, 0, 0.68);
			-webkit-box-shadow: 17px 15px 30px 0px rgba(0, 0, 0, 0.68);
			-moz-box-shadow: 17px 15px 30px 0px rgba(0, 0, 0, 0.68);
		}
		position: relative;
	}

	&_card {
		display: block;
	}
	&_card__selected {
		> img {
			position: relative;
			opacity: 0.4;
		}
		> div {
			display: flex;
			flex-direction: column;
			position: absolute;
			padding: 40px;
			top: 20%;
			font-size: large;
			background: rgba(0, 0, 0, 0.68);
			border-radius: 10px;
			z-index: 15;
		}
	}
}

@include media(mobile) {
	.Seances {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(5, 1fr);
		grid-column-gap: 5px;
		grid-row-gap: 15px;
		max-width: 340px;

		div {
			p {
				font-size: 16px;
				bottom: 16px;
				line-height: 14px;
				letter-spacing: 1px;
			}
		}
	}
}
