@import '../../app/media';
.Reviews {
	margin-top: 60px;

	display: flex;
	gap: 30px;
	&_card {
		background-color: #018abe;
		padding: 35px 25px;
		border-radius: 10px;
	}
	@include media(tablet) {
		margin-top: 20px;
		padding: 10px 5px;
		max-width: 340px;
	}
}
