@import '../../app/_media';

.Main {
	position: relative;
	background-image: url(https://firebasestorage.googleapis.com/v0/b/fow-react.appspot.com/o/bgspa.avif?alt=media&token=93ca4c84-ebf4-4793-8851-26c69fee6820);
	min-height: 600px;
	background-repeat: no-repeat;
	background-position: center center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 50px;
	width: 1298px;
	z-index: 1;
	border-radius: 10px;

	&_bg {
		position: absolute;
		border-radius: 10px;
		z-index: 2;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #98c9dc, $alpha: 0.3);
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 70px;

		h1 {
			font-size: 94px;
			font-weight: 800;
		}
		&__head {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 150px;
			gap: 40px;
			justify-content: center;
		}
	}
}
@include media(mobile) {
	.Main {
		width: 360px;
		background-position: 40% 60%;
		margin-top: 20px;
		min-height: 300px;

		&_bg {
			gap: 10px;
			h1 {
				font-size: 44px;
			}

			&__head {
				padding-top: 20px;
				align-items: center;
			}
		}
	}
}
