.HeaderSM {
	&_menu {
		position: absolute;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 200px;

		li {
			padding-bottom: 60px;
			font-size: large;
			text-align: center;
		}
		top: 120px;
		z-index: 100;
		height: 480px;
		background-color: #018abe;
	}
}
