@import '../../app/media';

.Specialists {
	margin-top: 180px;
	:nth-of-type(2n) {
		flex-direction: row-reverse;
	}

	&_wrapper {
		display: flex;
		:nth-of-type(2n + 1) {
			padding: 10px;
		}
		justify-content: center;
		align-items: center;
		width: 900px;
		margin-top: 90px;
		img {
			width: 320px;
		}
		p {
			font-size: 20px;
		}
	}
}
@include media(tablet) {
	.Specialists {
		&_wrapper,
		:nth-of-type(2n) {
			flex-direction: column;
			max-width: 350px;
		}
		&_wrapper {
			padding: 8px 10px;
			p {
				font-size: 18px;
				text-align: justify;
			}
		}
	}
}
