@import '../../app/media';
.Prices {
	margin-top: 80px;
	&_content {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 60px;
	}
}
@include media(tablet) {
	.Prices {
		margin-top: 60px;
		&_content {
			flex-direction: column;
			font-size: 18px;
			&__catalogue {
				padding-left: 10px;
				line-height: 16px;

				p {
					padding-left: 10px;
				}
			}
		}
	}
}
